.fondo {
    background-color: rgb(136, 136, 136);
    height: 60px;
}

.login {
    background-color: #fff;
    border-color: none;
    color: rgb(65, 105, 108);
    border-radius: 35px;
    font-size: 15px;
}

.logear {
    padding: 0 200px 0 0;
}

.inicio {
    padding: 7px;
}

.vacio {
    padding: 0 0 0 300px;
}

.imagen {
    height: 40px;
    padding-left: 50px;
}

.letras {
    color: #fff;
}

.carrito {
    display: flex;
    background-color: rgb(67, 63, 63);
    width: 60px;
    margin-right: 20px;
}

.carrito2 {
    color: #fff;
}